# # 一旦全てを対象から外す
# git rm --cached -r .

# # あらためて、全てを対象に含める
# # (.gitignoreに記述されたものは除外される)
# git add -A .

# # コミットする
# git commit -m ".gitignore 除外指定を変更"

chromedriver.exe
python3-チートシート.pdf
dist/
debug.log
python.code-workspace
.vscode/settings.json
UserData/
__pycache__
